@use "abstract/mixin" as m;
@use "abstract/variable" as v;

.post {
  background-color: v.$white;
  margin-bottom: 2rem;
  @include m.screen("md") {
    @include m.grid(5, 2rem);
    align-items: center;
  }
  &__imgContainer {
    @include m.screen("md") {
      grid-column: 1 / 3;
    }
  }
  &__content {
    padding: 1rem;
    @include m.screen("md") {
      grid-column: 3 / 6;
    }
  }
  &__img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }
  &__meta {
    font-size: 1.4rem;
  }
  &__link {
    @include m.button( v.$primary,v.$white);
    display: block;
    @include m.screen('md') {
        display: inline-block;
    }
  }
}
