//
// / variable 
//


// font variable

$font-primary:  'Open Sans', sans-serif;
$font-secondary:'Roboto', cursive;


// media queries
//  smartphones
$sm: 480px;

//  tablets 
$md: 768px;

// desktops
$lg: 1024px;
// desktops
$xl:1200px;
// Color 
$primary:  #e8505b;

$black: #000000;
$white: #ffffff;
$grey:#eeefed;
$light-grey: #f8f8f8;
